<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.noxstudio.fruitcas.android"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name="com.noxstudio.fruitcas.android.Fruitcas"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Design.NoActionBar" >

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/faceboock_app_id"/>
        <meta-data
            android:name="com.facebook.sdk.CodelessDebugLogEnabled"
            android:value="true" />

        <activity
            android:name="com.noxstudio.fruitcas.android.AndroidLauncher"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name="com.noxstudio.fruitcas.android.Main"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="app" />
            </intent-filter>
        </activity>
        <activity android:name=".WebViewAcivity"/>

        <service
            android:name="com.noxstudio.fruitcas.android.util.FirebaseMessagingMasterService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter android:priority="100" >
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.yandex.metrica.push.firebase.MetricaMessagingService" tools:node="remove" />

        <receiver android:name="com.noxstudio.fruitcas.android.util.Receiver" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.noxstudio.fruitcas.android.util.SilentPushReceiver">
            <intent-filter>
                <!-- Получение silent push-уведомлений. -->
                <action android:name="com.noxstudio.fruitcas.android.action.ymp.SILENT_PUSH_RECEIVE"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
